<footer class="foot">
    <div
        class="wrap"
        style="
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 12px;
            width: 100%;
        "
    >
        <div>© Martin Chang</div>
        <div>
            <a href="https://github.com/marty1885/kiln">GitHub</a>
            &nbsp;
            <a href="https://github.com/marty1885/kiln/issues">Issues</a>
            &nbsp;
            <a href="https://clehaxze.tw/">Author</a>
        </div>
    </div>
</footer>
