<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ page.title }}</title>
<meta
    name="description"
    content="Kiln - a CMake-compatible build system"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap"
    rel="stylesheet"
/>
<link
    rel="icon"
    href="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><rect width='32' height='32' fill='%23fbfbfa'/><path d='M6 24 V18 Q6 9 16 9 Q26 9 26 18 V24 Z M13 24 V20 Q13 17 16 17 Q19 17 19 20 V24 Z' fill='%238d2a1e'/></svg>"
/>
<link rel="stylesheet" href="/assets/css/style.css">
