<header class="site">
    <div class="wrap nav">
        <a href="/" class="brand">
            <span class="mark" aria-hidden="true"
                ><svg viewBox="0 0 32 28">
                    <path
                        d="M2 26 V16 Q2 4 16 4 Q30 4 30 16 V26 Z M12 26 V20 Q12 16 16 16 Q20 16 20 20 V26 Z"
                        fill-rule="evenodd"
                    /></svg
            ></span>
            Kiln
        </a>
        <ul>
            <li class="hide-sm"><a href="/#about">About</a></li>
            <li class="hide-sm"><a href="/#install">Install</a></li>
            <li class="hide-sm">
                <a href="https://github.com/marty1885/kiln/tree/master/docs"
                    >Docs</a
                >
            </li>
            <li class="hide-sm"><a href="/status.html">Status</a></li>
            <li class="hide-sm">
                <a href="https://clehaxze.tw/gemlog/kiln.gmi">Writeup</a>
            </li>
            <li>
                <a href="https://github.com/marty1885/kiln">GitHub →</a>
            </li>
        </ul>
    </div>
</header>
